@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
